<div>
    <form th:action="@{/saveMatch}" th:object="${match}" method="post">
        <div="form-row">
            <div>
                <input type="hidden" th:field="*{id}">
            </div>
            <div>
                <a>Home Team</a>
                <select id="home" th:field="*{Home}">
                    <option value="" th:text="------"></option>
                    <option th:each="team : ${allTeams}" th:value="${{team.id}}" th:text="${team.name}">
                        The name
                    </option>
                </select>
            </div>
            <div>
                <a>Away Team</a>
                <select id="away" th:field="*{Away}">
                    <option value="" th:text="------"></option>
                    <option th:each="team : ${allTeams}" th:value="${{team.id}}" th:text="${team.name}">
                        The name
                    </option>
                </select>
            </div>
            <div>
                <label>Score</label>
                <input type="text" th:field="*{score}">
            </div>
            <div>
                <label>Status</label>
                <input type="number" th:field="*{status}" min="0" max="2">
            </div>
            <div>
                <label>Date</label>
                <input type="datetime" th:field="*{date}">
            </div>
            <div>
                <br>
                <button type="submit">Create Match</button>
            </div>
</div>
</form>