<!DOCTYPE html>
<html>
    <head>
        <title>List of players</title>
        <meta charset="utf8"/>
    </head>
    <body>
        <h1>List of Players</h1>
  
        <table border="1">
          <tr>
            <th>ID</th>
            <th>NAME</th>
            <th>POSITION</th>
            <th>BIRTHDAY</th>
            <th>CHANGE</th>
            <th>TEAM</th>
          </tr>
          <tr th:each="s : ${players}">
            <td th:text="${s.id}">id</td>
            <td th:text="${s.name}">name</td>
            <td th:text="${s.position}">position</td>
            <td th:text="${s.birthday}">birthday</td>
            <td><a th:href="@{editStudent(id=${s.id})}">here</a></td>
            <td th:text="${s.team}">team</td>
          </tr>
        </table>
      
    </body>
</html>