:root {
    --bg: #02b75a;
    --txt: #2d2d2d;
    --txt-1: black;
    --txt2: #02b75a;
    --txt2-nav: #212121;
    --note: #02b75a;
    --bbg: #d4d4d4;
    color: black;
    --per: 0%;
}

h1 {
    color: #02b75a;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

a {
    font-size: 18px;
    color: #02b75a;
}

body a:hover {
    font-size: 18px;
    color: aquamarine;
}

#logout {
    background-color: var(--bbg);
    color: var(--txt);
}

.do {
    color: var(--txt2-nav);
}

nav i {
    color: var(--txt2-nav);
}

nav {
    background-color: var(--bg);
    padding-top: 0;
    padding-bottom: 0;
}

nav a {
    color: var(--txt);
    margin-bottom: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: var(--bbg);
    color: black;
}

.menu {
    list-style-type: none;
    margin-bottom: 0%;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    background-color: #02b75a;
}

.menu li a:hover:not(.active) {
    color: white;
    background-color: #333;
}

.menu .active {
    background-color: #333;
}