:root {
    --bg: #003566;
    --txt: #2d2d2d;
    --txt-1: black;
    --txt2: #003566;
    --txt2-nav: #212121;
    --note: #003566;
    --bbg: #e6eefa;
    color: black;
    --per: 0%;
}

h1 {
    color: #008fb7;
    font-family: 'Oxygen', sans-serif;
}

h1 {
    font-family: 'Oxygen', sans-serif;
}

a {
    font-size: 18px;
    color: #003566;
}

body a:hover {
    font-size: 18px;
    color: aquamarine;
}

#logout {
    background-color: var(--bbg);
    color: var(--txt);
}

.do {
    color: var(--txt2-nav);
}

nav i {
    color: var(--txt2-nav);
}

nav {
    background-color: var(--bg);
    padding-top: 0;
    padding-bottom: 0;
}

nav a {
    color: var(--txt);
    margin-bottom: 0;
}

body {
    font-family: 'Oxygen', sans-serif;
    background-color: var(--bbg);
    color: white;
}

.menu {
    list-style-type: none;
    margin-bottom: 0%;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    background-color: #003566;
}

.menu li a:hover:not(.active) {
    color: white;
    background-color: #008fb7;
}

.menu .active {
    background-color: #008fb7;
}

#dummy {
    list-style-type: none;
}

#dummy button {
    font-size: 10px;
    font-weight: bold;  
    color: white;
    text-align: center;
    padding: 12px 10px;
    border-radius: 5%;
    border-width: 0;
    text-decoration: none;
    background-color: #111;
}