<form th:action="@{/admin/saveTeam}" th:object="${team}" method="post">
    <div="form-row">
        <div>
            <input type="hidden" th:field="*{id}">
        </div>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}">
        </div>
        <div>
            <label>Games</label>
            <input type="text" th:field="*{games}">
        </div>
        <div>
            <label>Wins</label>
            <input type="text" th:field="*{wins}">
        </div>
        <div>
            <label>Draws</label>
            <input type="text" th:field="*{draws}">
        </div>
        <div>
            <label>Defeats</label>
            <input type="text" th:field="*{defeats}">
        </div>
        <button type="submit">Edit/Create Team</button>
    </div>
</form>