<!DOCTYPE html>
<html>

<head>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <title>Edit Player - ADMIN</title>
</head>

<body>
    <form th:action="@{/admin/savePlayer}" th:object="${player}" method="post">
        <div="form-row">
            <div>
                <input type="hidden" th:field="*{id}">
            </div>
            <div>
                <label>Name</label>
                <input type="text" th:field="*{name}">
            </div>
            <div>
                <label>Position</label>
                <input type="text" th:field="*{position}">
            </div>
            <div>
                <label>Goals</label>
                <input type="text" th:field="*{goals}">
            </div>
            <div>
                <label>Birthday</label>
                <input type="text" th:field="*{birthday}">
            </div>
            <div>
                <select id="teams" th:field="*{team}">
                    <option th:each="team : ${allTeams}" th:value="${{team.id}}" th:text="${team.name}">
                        The name
                    </option>
                </select>
            </div>
            <button type="submit">Edit/Create Player</button>
            </div>
    </form>
</body>

</html>